// Show for xsmall only
.show-xs-only {
  @media #{$breakpoint-xs-only} {
    display: block;
  }
}

// Show for xsmall up
.show-xs-up {
  display: block;
}

// Show for small only
.show-s-only {
  @media #{$breakpoint-s-only} {
    display: block;
  }
}

// Show for small up
.show-s-up {
  @media #{$breakpoint-s-up} {
    display: block;
  }
}

// Show for medium only
.show-m-only {
  @media #{$breakpoint-m-only} {
    display: block;
  }
}

// Show for medium up
.show-m-up {
  @media #{$breakpoint-m-up} {
    display: block;
  }
}

// Show for large only
.show-l-only {
  @media #{$breakpoint-l-only} {
    display: block;
  }
}

// Show for large up
.show-l-up {
  @media #{$breakpoint-l-up} {
    display: block;
  }
}

// Show for xlarge up
.show-xl-up {
  @media #{$breakpoint-xl-up} {
    display: block;
  }
}


// Hide for xsmall only
.hide-xs-only {
  @media #{$breakpoint-xs-only} {
    display: none;
  }
}

// Hide for xsmall up
.hide-xs-up {
  display: none;
}

// Hide for small only
.hide-s-only {
  @media #{$breakpoint-s-only} {
    display: none;
  }
}

// Hide for small up
.hide-s-up {
  @media #{$breakpoint-s-up} {
    display: none;
  }
}

// Hide for medium only
.hide-m-only {
  @media #{$breakpoint-m-only} {
    display: none;
  }
}

// Hide for medium up
.hide-m-up {
  @media #{$breakpoint-m-up} {
    display: none;
  }
}

// Hide for large only
.hide-l-only {
  @media #{$breakpoint-l-only} {
    display: none;
  }
}

// Hide for large up
.hide-l-up {
  @media #{$breakpoint-l-up} {
    display: none;
  }
}

// Hide for xlarge up
.hide-xl-up {
  @media #{$breakpoint-xl-up} {
    display: none;
  }
}
